{% extends "main.html" %}

{% block title %}
<title>{{ product.name }}</title>
{% endblock %}

{% block description %}
<meta name="description" content="{{ product.name }} купить в Самаре за {{ product.price }} с доставкой по России." />
{% endblock %}

{% block content %}
<main itemscope itemtype="http://schema.org/Product">
    {# Заголовок #}
    <div class="uk-section-xsmall">
        <div class="uk-container">
            <h2 itemprop="name">{{ product.name }}</h2>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-1-2">

                    {# Нет фотографий #}
                    {% if images|length == 0 %}
                    <img src="/static/image.png" />
                    {% endif %}

                    {# Одна фотография #}
                    {% if images|length == 1 %}
                    <img src="{{ image.url }}" itemprop="image"/>
                    {% endif %}

                    {# Несколько фотографий #}
                    {% if images|length > 1 %}

                    {% for image in images %}
                    {% if forloop.first %}
                    <div uk-slideshow="animation: push; autoplay: true">
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                            <ul class="uk-slideshow-items">
                                <li><img src="{{ image.url }}" alt="" itemprop="image" uk-cover></li>
                    {% else %}
                                <li><img src="{{ image.url }}" alt="" uk-cover></li>
                    {% endif %}
                    {% if forloop.last %}
                            </ul>
                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                        </div>
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {# Загрузка фотографий #}
                    {% if perms.pflops.can_edit %}
                    <div class="js-upload uk-placeholder uk-text-center" id="product-image-upload">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                        <div uk-form-custom>
                            <input type="file" multiple>
                            <span class="uk-link">selecting one</span>
                        </div>
                    </div>
                    <progress id="product-image-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                    {% endif %}
                </div>
                <div class="uk-width-1-2">
                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <table class="uk-table uk-table-striped">
                            <tbody>
                            <tr>
                                <td>Производитель</td>
                                <td>{{ product.vendor.name }}</td>
                            </tr>
                            <tr>
                                <td>Артикул</td>
                                <td>{{ product.part_number }}</td>

                            </tr>
                            <tr>
                                <td>В наличии</td>
                                <td>
                                    <a href="#" data-do="show-parties" data-product="{{ product.id }}">
                                        <div>
                                            {% if product.quantity == None %}
                                            0
                                            {% else %}
                                            {{ product.quantity }}
                                            {% endif %}
                                        </div>
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Цена</td>
                                <td>
                                    {% if product.price == None %}
                                    По запросу
                                    {% else %}
                                    <b>{% autoescape off %}{{ product.price.html }}{% endautoescape %}</b>
                                    <meta itemprop="price" content="{{ product.price.value }}">
                                    <meta itemprop="priceCurrency" content="{{ product.price.currency.key }}">
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if product.quantity > 0 %}
                    <button class="uk-button uk-button-primary uk-width-1-1" >Купить</button>
                    {% else %}
                    <button class="uk-button uk-button-primary uk-width-1-1">Заказать</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {% if params|length > 0 %}
            <table class="uk-table uk-table-divider uk-table-hover">
                <thead>
                <tr>
                    <th>Характеристика</th>
                    <th>Значение</th></tr>
                </thead>
                <tbody>
                {% for param in params %}
                {% if param.value != None %}
                <tr>
                    <td>{{ param.parameter.name }}</td>
                    <td>
                        {% if param.value == 'True' %}
                        Есть
                        {% elif param.value == 'False' %}
                        Нет
                        {% else %}
                        {{ param.value }}{% if param.unit %} {{ param.unit }}{% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}

{% block modal %}
{% include "pflops/modal/party.html" %}
{% endblock %}

{% block js %}
{% include "pflops/js/product.js" %}
{% include "pflops/js/party.js" %}
{% endblock %}
