{% extends "main.html" %}

{% block title %}
<title>Anodos: поиск</title>
{% endblock %}

{% block description %}
<meta name="description" content="Вычислительная техника и программное обеспечение из Самары с доставкой по России." />
{% endblock %}

{% block content %}
<main>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {% for product in products %}
            {% if forloop.first %}
            <table class="uk-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Производитель</th>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>В&nbsp;наличии</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                {% endif %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.vendor.name }}</td>
                    <td>{{ product.part_number }}</td>
                    <td><a href="/product/{{ product.slug }}/">{{ product.name }}</a></td>
                    <td>
                        <a href="#" data-do="show-parties" data-product="{{ product.id }}">
                            {% autoescape off %}
                            {% if product.quantity == None %}0
                            {% else %}{{ product.quantity }}&nbsp;{{ product.unit.name }}
                            {% endif %}
                            {% endautoescape %}
                        </a>
                    </td>
                    <td>
                        {% autoescape off %}
                        {% if product.price == None %}
                        По&nbsp;запросу
                        {% else %}
                        {{ product.price.html }}
                        {% endif %}
                        {% endautoescape %}
                    </td>
                </tr>
                {% if forloop.last %}
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
{% include "pflops/modal/party.html" %}
{% endblock %}

{% block js %}
{% include "pflops/js/party.js" %}
{% endblock %}
