{% if user.is_authenticated %}

<div id="modal-user-profile" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Профиль пользователя</h2>
        </div>
        <div class="uk-modal-body">
            <form>
                <div class="uk-margin">
                    <label class="uk-form-label" for="profile-firstname">Имя</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="profile-firstname"
                               name="firstname" type="text">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="profile-lastname">Фамилия</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="profile-lastname"
                               name="lastname" type="text">
                    </div>
                </div>
            </form>
            <div id="modal-profile-alert"></div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary" data-do="save-profile">
                <i class="fa fa-check"></i>
                Сохранить профиль
            </button>
            <button class="uk-button uk-button-danger" data-do="apply-logout">
                <i class="fa fa-sign-out"></i>
                Выйти
            </button>
            <button class="uk-button uk-button-default uk-modal-close">
                <i class="fa fa-times"></i>
                Отмена
            </button>
        </div>
    </div>
</div>

{% else %}

<div id="modal-user-login" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Авторизоваться</h2>
        </div>
        <div class="uk-modal-body">
            <form>
                <div class="uk-margin">
                    <label class="uk-form-label" for="login-username">Имя пользователя</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="login-username"
                               name="username" type="text" placeholder="login">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="login-password">Пароль</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="login-password"
                               name="username" type="password" placeholder="password">
                    </div>
                </div>
                <hr>
                <ul>
                    <li><a href="#" data-do="open-password-recovery">Восстановить пароль</a></li>
                    <li><a href="#" data-do="open-register">Зарегистрироваться</a></li>
                </ul>
            </form>
            <div id="modal-login-alert"></div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary" data-do="apply-login">
                <i class="fa fa-sign-in"></i>
                Войти
            </button>
            <button class="uk-button uk-button-default uk-modal-close">
                <i class="fa fa-times"></i>
                Отмена
            </button>
        </div>
    </div>
</div>

{% endif %}
