<div class="ui modal" id="modal-user-profile">
    <i class="close icon"></i>
    <div class="header">Профиль пользователя</div>
    <div class="content">
        <div class="ui form">
            <div class="two fields">
                <div class="disabled field">
                    <label>Имя</label>
                    <input placeholder="" type="text" disabled="" tabindex="-1">
                </div>
                <div class="disabled field">
                    <label>Фамилия</label>
                    <input placeholder="" type="text" disabled="" tabindex="-1">
                </div>
            </div>
            <div class="disabled field">
                <label>Email</label>
                <input placeholder="" type="text" disabled="" tabindex="-1">
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui labeled icon green button" data-do="apply-save-profile">
            <i class="save icon"></i>Сохранить
        </button>
        <button class="ui labeled icon deny button">
            <i class="x icon"></i>Отмена
        </button>
        <button class="ui labeled icon red button" data-do="apply-logout">
            <i class="sign-out icon"></i>Выйти
        </button>
    </div>
</div>
