<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block description %}
    <meta name="description" content="Вычислительная техника и программное обеспечение из Самары с доставкой по России." />
    {% endblock %}
    <title>{% block title %}Anodos{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">

</head>
<body>
<header class="ui container">
    <div class="ui grid"><div class="ui hidden divider"></div></div>
    <div class="ui grid">
        <div class="three wide center aligned column">
            <h1 class="ui header"><a href="/">Anodos</a></h1>
        </div>
        <div class="ten wide column">
            <div class="ui fluid action input">
                <input name="search" type="text" value="{{ search }}"
                       placeholder="Артикул, название, производитель, что угодно...">
                <div class="ui positive button" data-do="apply-distributors-search">Найти</div>
            </div>
            <p></p>
        </div>
        <div class="right aligned three wide column">
            <button class="circular ui positive icon button" data-do="open-callback">
                <i class="icon phone"></i>
            </button>
            <button class="ui circular linkedin icon button">
                <i class="paper plane icon"></i>
            </button>
            <a href="mailto:info@anodos.ru">
                <div class="circular ui icon button">
                    <i class="icon mail"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="ui grid"><div class="ui hidden divider"></div></div>
    <div class="ui secondary menu">
        <div class="ui dropdown item">
            Каталог
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">Серверы</a>
                <a class="item">Системы хранения данных</a>
                <a class="item">Сетевое оборудование</a>
            </div>
        </div>
        <a class="item">Автоподбор</a>
        <a class="item">Новинки</a>
        {% if perms.distributors.can_do_something %}
        <div class="ui dropdown item">
            Служебное
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/distributors/">Поиск по складам</a>
                <a class="item" href="/distributors/vendors/">Производители</a>
                <a class="item" href="/distributors/categories/">Категории</a>
                <a class="item" href="/distributors/parameters/">Параметры</a>
                <a class="item" href="/distributors/units/">Единицы измерения</a>
            </div>
        </div>
        {% endif %}

        <div class="right menu">
            {% if user.is_authenticated %}
            <a class="item" data-do="open-user-profile">
                <i class="user secret icon"></i>
            </a>
            {% else %}
            <a class="item" data-do="open-user-login">
                <i class="user outline icon"></i>
            </a>
            {% endif %}
            <a class="item">
                <i class="dolly icon"></i>Заказ
            </a>
        </div>
    </div>

    <div class="ui hidden divider"></div>
</header>
{% block content %}
<main class="ui center aligned container">
    #Карусель с новинками
    <div class="ui hidden divider"></div>

    <h3>Каталог</h3>
    <div class="ui three cards">
        <div class="ui card">
            <div class="image">
                <img src="">
            </div>
            <div class="content">
                <a class="header">Серверы</a>
                <div class="description">
                    ...


                </div>
            </div>
            {% if perms.pflops.can_do_something %}
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
            {% endif %}
        </div>
        <div class="ui card">Системы хранения данных</div>
        <div class="ui card">Резервное копирование</div>
        <div class="ui card">Ноутбуки</div>
        <div class="ui card">Моноблоки</div>
        <div class="ui card">Персональные компьютеры</div>
        <div class="ui card">Информационная безопасность</div>
        <div class="ui card">Активное сетевое оборудование</div>
        <div class="ui card">Оргтехника</div>
    </div>
    <div class="ui hidden divider"></div>

    <h3>Автоподбор</h3>
    <div class="ui ui three cards">
        <div class="ui card">
            <div class="image">
                <img src="">
            </div>
            <div class="content">
                <a class="header">Сервер для 1С</a>
                <div class="meta">
                    <span class="date">Обновлено 14 октября 2021 года</span>
                </div>
                <div class="description">
                    ...

                </div>
            </div>
        </div>
        <div class="ui card">Инфраструктура для SAP</div>
        <div class="ui card">Файловый сервер</div>
        <div class="ui card">Сервер для видеонаблюдения</div>
        <div class="ui card">Рабочее место офисного сотрудника</div>
        <div class="ui card">Принтеры и МФУ для офиса</div>
    </div>
</main>
{% endblock %}

<footer>
  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal small divided link list">
        <a class="item" href="mailto:root@anodos.ru">&copy; Андрей Безпалов</a>
        <a class="item">Контактные данные</a>
        <a class="item">Условия и положения</a>
        <a class="item">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>

<!-- Модальные окна  -->
{% if user.is_authenticated %}
{% include "anodos/modal/profile.html" %}
{% else %}
{% include "anodos/modal/login.html" %}
{% endif %}
{% block modal %}
{% endblock %}
<!-- /Модальные окна  -->

<!-- jQuery and Semantic -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/semantic/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({on: 'hover'});
    $('.ui.checkbox').checkbox();
</script>
<!-- /jQuery and Semantic -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(13190530, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        trackHash:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/13190530" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
{% if user.is_authenticated %}
{% include "anodos/js/profile.js" %}
{% else %}
{% include "anodos/js/login.js" %}
{% endif %}
{% block js %}
{% endblock %}
</script>

</body>
</html>
