{% extends "main.html" %}

{% block title %}
<title>Параметры характеристик</title>
{% endblock %}

{% block description %}
<meta name="description" content="Модуль редактирования параметров" />
{% endblock %}

{% block content %}
<main>
    {# Заголовок #}
    <div class="uk-section-xsmall">
        <div class="uk-container">
            <h2 itemprop="name">Параметры</h2>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>#</th>
                    <th colspan="2">Как у поставщика</th>
                    <th colspan="2">Как у нас</th>
                </tr>
                </thead>
                <tbody>
                {% for parameter_ in parameters_ %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ parameter_.distributor.name }} | {{ parameter_.name }}</td>
                    <td>
                        <div class="uk-button-group">
                            <button class="uk-button uk-button-primary uk-button-small"
                                    data-do="do-parameter-as-is"
                                    data-parameter_="{{ parameter_.id }}">
                                <i class="fa fa-link"></i>
                            </button>
                            <button class="uk-button uk-button-default uk-button-small"
                                    data-do="open-parameter-list"
                                    data-parameter_="{{ parameter_.id }}"
                                    uk-toggle="target: #modal-parameter-list">
                                <i class="fa fa-list-ul"></i>
                            </button>
                        </div>
                    </td>
                    <td id="{{ parameter_.id }}-to-pflops"
                        data-parameter="{{ parameter_.to_pflops.id }}">
                        {% if parameter_.to_pflops == None %}
                        -
                        {% else %}
                        {{ parameter_.to_pflops }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="uk-button-group">
                            <button class="uk-button uk-button-primary uk-button-small"
                                    id="{{ parameter_.id }}-open-parameter-editor-button"
                                    data-do="open-parameter-editor"
                                    data-parameter_="{{ parameter_.id }}"
                                    data-parameter="{{ parameter_.to_pflops.id }}"
                                    data-name="{{ parameter_.to_pflops.name }}"
                                    uk-toggle="target: #modal-parameter-editor">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="uk-button uk-button-danger uk-button-small"
                                    data-do="erase-parameter-link"
                                    data-parameter_="{{ parameter_.id }}">
                                <i class="fa fa-unlink"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
{% include "distributors/modal/parameters.html" %}
{% endblock %}

{% block js %}
{% include "distributors/js/parameters.js" %}
{% endblock %}
