{% extends "main.html" %}

{% block title %}Anodos: Поиск по складам поставщиков{% endblock %}

{% block content %}
<form method="post" action="/distributors/" id="form_distributors_search">
    <div class="ui fluid action input">
        <input name="search" type="text" value="{{ search }}"
               placeholder="Артикул, название, производитель...">
        <div class="ui button" data-do="apply-distributors-search">Найти</div>
    </div>
    <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
</form>

<div class="ui hidden divider"></div>

{% for party in parties %}
{% if forloop.first %}
<table class="ui striped table">
    <thead>
        <tr>
            <th>#</th>
            <th>Производитель</th>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
{% endif %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ party.product.vendor.name }}</td>
        <td>{{ party.product.part_number }}</td>
        <td>
            <a href="/distributors/product/{{ party.product.id }}/">{{ party.product.name }}</a></td>
        <td>
            {% autoescape off %}
            {% if quantity == None %}0
            {% else %}{{ party.quantity }}&nbsp;{{ party.unit.name }}
            {% endif %}
            {% endautoescape %}
        </td>
        <td>
            {% autoescape off %}
            {% if party.price == None %}
            По&nbsp;запросу
            {% else %}
            {{ party.price.html }}
            {% endif %}
            {% endautoescape %}
        </td>
    </tr>

{% if forloop.last %}
    </tbody>
</table>
{% endif %}
{% endfor %}

{% endblock %}


{% block js %}
{% include "distributors/js/search.js" %}

{% endblock %}