{% extends "main.html" %}

{% block title %}Единицы измерения{% endblock %}

{% block content %}
<h2>Единицы измерения</h2>

<div class="ui grid"><div class="ui hidden divider"></div></div>

<div>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>#</th>
                <th colspan="2">Как у поставщика</th>
                <th colspan="2">Как у нас</th>
            </tr>
        </thead>
        <tbody>
        {% for unit_ in units_ %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ unit_.name }}</td>
            <td>
                <div class="ui icon buttons">
                    <button class="ui primary icon button"
                            data-do="do-unit-as-is"
                            data-unit_="{{ unit_.id }}">
                        <i class="share icon"></i>
                    </button>
                    <button class="ui positive icon button"
                            data-do="open-unit-list"
                            data-unit_="{{ unit_.id }}">
                        <i class="list icon"></i>
                    </button>
                </div>
            </td>
            <td id="{{ unit_.id }}-to-pflops"
                data-unit="{{ unit_.to_pflops.id }}">
                {% if unit_.to_pflops == None %}
                -
                {% else %}
                {{ unit_.to_pflops }}
                {% endif %}
            </td>
            <td>
                <div class="ui icon buttons">
                    <button class="ui positive icon button"
                            id="{{ unit_.id }}-open-unit-editor-button"
                            data-do="open-unit-editor"
                            data-unit_="{{ unit_.id }}"
                            data-unit="{{ unit_.to_pflops.id }}"
                            data-name="{{ unit_.to_pflops.name }}">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui negative icon button"
                            data-do="erase-unit-link"
                            data-unit_="{{ unit_.id }}">
                        <i class="unlink icon"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% include "distributors/modal/units.html" %}

{% endblock %}

{% block js %}
{% include "distributors/js/units.js" %}
{% endblock %}
