{% extends "main.html" %}

{% block title %}
<title>Единицы измерения</title>
{% endblock %}

{% block description %}
<meta name="description" content="Модуль редактирования удиниц измерения" />
{% endblock %}

{% block content %}
<main>
    {# Заголовок #}
    <div class="uk-section-xsmall">
        <div class="uk-container">
            <h2 itemprop="name">Единицы измерения</h2>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>#</th>
                    <th colspan="2">Как у поставщика</th>
                    <th colspan="2">Как у нас</th>
                </tr>
                </thead>
                <tbody>
                {% for unit_ in units_ %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ unit_.name }}</td>
                    <td>
                        <div class="uk-button-group">
                            <button class="uk-button uk-button-primary uk-button-small"
                                    data-do="do-unit-as-is"
                                    data-unit_="{{ unit_.id }}">
                                <i class="fa fa-link"></i>
                            </button>
                            <button class="uk-button uk-button-default uk-button-small"
                                    data-do="open-unit-list"
                                    data-unit_="{{ unit_.id }}"
                                    uk-toggle="target: #modal-unit-list">
                                <i class="fa fa-list-ul"></i>
                            </button>
                        </div>
                    </td>
                    <td id="{{ unit_.id }}-to-pflops"
                        data-unit="{{ unit_.to_pflops.id }}">
                        {% if unit_.to_pflops == None %}
                        -
                        {% else %}
                        {{ unit_.to_pflops }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="uk-button-group">
                            <button class="uk-button uk-button-primary uk-button-small"
                                    id="{{ unit_.id }}-open-unit-editor-button"
                                    data-do="open-unit-editor"
                                    data-unit_="{{ unit_.id }}"
                                    data-unit="{{ unit_.to_pflops.id }}"
                                    data-name="{{ unit_.to_pflops.name }}"
                                    uk-toggle="target: #modal-unit-editor">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="uk-button uk-button-danger uk-button-small"
                                    data-do="erase-unit-link"
                                    data-unit_="{{ unit_.id }}">
                                <i class="fa fa-unlink"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
{% include "distributors/modal/units.html" %}
{% endblock %}

{% block js %}
{% include "distributors/js/units.js" %}
{% endblock %}
