<div class="ui modal" id="modal-unit-list">
    <i class="close icon"></i>
    <div class="header">Выберите параметр</div>
    <div class="content">
        <form>
            <input type="hidden" name="unit_" id="modal-unit-list-unit_">
            <div class="ui fluid search selection dropdown">
                <input type="hidden" name="unit" id="modal-unit-list-unit">
                <i class="dropdown icon"></i>
                <div class="default text">Выберите параметр</div>
                <div class="menu">
                    {% for unit in units %}
                    <div class="item" data-value="{{ unit.id }}">{{ unit.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui labeled icon positive button" data-do="apply-link-unit">
            <i class="linkify icon"></i>Привязать
        </button>
        <button class="ui labeled icon deny button">
            <i class="x icon"></i>Отмена
        </button>
    </div>
</div>

<div class="ui modal" id="modal-unit-editor">
    <i class="close icon"></i>
    <div class="header">Редактировать параметр</div>
    <div class="content">
        <form class="ui form">
            <input id="modal-unit-editor-id" type="hidden" name="unit_">
            <input id="modal-unit-editor-name" type="text" name="name">
        </form>
    </div>
    <div class="actions">
        <button class="ui labeled icon positive button" data-do="save-unit">
            <i class="save icon"></i>Сохранить
        </button>
        <button class="ui labeled icon deny button">
            <i class="x icon"></i>Отмена
        </button>
    </div>
</div>

